# Created by https://www.toptal.com/developers/gitignore/api/linux,terraform
# Edit at https://www.toptal.com/developers/gitignore?templates=linux,terraform

### Linux ###
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

### Terraform ###
# Local .terraform directories
./provision-kubernetes-cluster/aws/.terraform/*
./deploy-kubernetes/aws/.terraform/*
./deploy-kubernetes/kind/.terraform/*

# .tfstate files
./provision-kubernetes-cluster/aws/*.tfstate.*
./provision-kubernetes-cluster/aws/*.tfstate
./deploy-kubernetes/aws/*.tfstate.*
./deploy-kubernetes/aws/*.tfstate
./deploy-kubernetes/kind/*.tfstate.*
./deploy-kubernetes/kind/*.tfstate

# credentials for AWS
./provision-kubernetes-cluster/aws/credentials

# Crash log files
./provision-kubernetes-cluster/aws/crash.log
./deploy-kubernetes/aws/crash.log
./deploy-kubernetes/kind/crash.log

# Ignore any .tfvars files that are generated automatically for each Terraform run. Most
# .tfvars files are managed as part of configuration and so should be included in
# version control.
#
# example.tfvars

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
./provision-kubernetes-cluster/aws/override.tf
./deploy-kubernetes/aws/override.tf
./deploy-kubernetes/kind/override.tf
./provision-kubernetes-cluster/aws/override.tf.json
./deploy-kubernetes/aws/override.tf.json
./deploy-kubernetes/kind/override.tf.json
./provision-kubernetes-cluster/aws/*_override.tf
./deploy-kubernetes/aws/*_override.tf
./deploy-kubernetes/kind/*_override.tf
./provision-kubernetes-cluster/aws/*_override.tf.json
./deploy-kubernetes/aws/*_override.tf.json
./deploy-kubernetes/kind/*_override.tf.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include override files you do wish to add to version control using negated pattern
# !example_override.tf

# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan
# example: *tfplan*

# End of https://www.toptal.com/developers/gitignore/api/linux,terraform

